<!DOCTYPE html>
<html>
<head>
    <title>Votes</title>
    <link rel="stylesheet" type="text/css" href="assets/fontawesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/endless.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/endless-skin.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/login.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/notifications.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/custom.css" />

    <!-- <script>location.href = 'pendings.html'</script> -->

    <script>
        window.isActive = true;
    </script>

    <script src="assets/js/console.extenssions.js"></script>

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/tools.js"></script>
    <script src="assets/js/constants.js"></script>

    <script src="assets/js/entities.js"></script>
    <script src="assets/js/functions.js"></script>
    <script src="assets/js/app.module.js"></script>
</head>
<body ng-app="app" ng-controller="appcontroller">

    <div id="top-nav" class="fixed skin-6" ng-show="!!currentUser()">
        <a href="#" class="brand">
            <span>Tucu's</span>
            <span class="text-toggle"> Scrum</span>
        </a>
        <ul class="nav-notification clearfix">
            <li class="profile dropdown open">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <strong>{{ currentUser().nombre }}</strong>
                    <span><i class="fa fa-chevron-down"></i></span>
                </a>
                <ul class="dropdown-menu px-2">
                    <li>
                        <a class="clearfix" href="#">
                            <img src="assets/img/user.jpg" alt="User Avatar">
                            <!--<i class="fa fa-user fa-lg"></i>-->
                            <div class="detail">
                                <strong>{{ currentUser().nombre }}</strong>
                                <p class="grey">test@email.com</p>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" tabindex="-1" class="main-link logoutConfirm_open px-1" ng-click="logout()">
                            <i class="fa fa-lock fa-lg mr-1"></i>
                            Log out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="main-container grayed">

        <section class="ng-hide" id="loginForm" ng-class="{ 'disabled loading': loadingUser }" name="login" ng-hide="currentUser()">

            <div class="login-wrapper fadeInUp">
                <div class="login-widget">
                    <div class="login-panel">
                        
                        <span class="spinner fadeInDown animation-delay1" ng-show="loadingUser">
                            <i class="fa fa-yin-yang fa-spin"></i>
                        </span>

                        <div class="login-header">
                            <h1 class="fadeInUp animation-delay8">
                                <a href="#">Tucu's <b>Scrum</b></a>
                            </h1>
                        </div>
                        <div class="login-body">
                            <form class="form-login form-border no-margin" ng-submit="login()">
                                <input ng-model="nombre" class="login-input bounceIn animation-delay2" placeholder="Usuario" />
                                <input type="submit" value="Log in" class="login-btn bounceIn animation-delay5">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid">
            <section class="ng-hide" name="authenticated" ng-show="!!currentUser()">

                <section class="ng-hide" name="withoutproject" ng-class="{ 'disabled loading': loadingProyecto }" ng-show="!currentProyecto()">

                    <div class="login-wrapper">
                        <div class="login-widget">
                            <div ng-show="!isAdmin()">
                                <div class="alert alert-warning">
                                    No hay ningun proyecto cargado aun
                                </div>
                            </div>
                            <div class="login-panel" ng-show="isAdmin()">
                                <span class="spinner fadeInDown animation-delay1" ng-show="loadingProyecto">
                                    <i class="fa fa-yin-yang fa-spin"></i>
                                </span>
                                <div class="login-header">
                                    <h1 class="fadeInUp animation-delay8">
                                        <a href="#">Crear proyecto</a>
                                    </h1>
                                </div>
                                <div class="login-body">
                                    <form class="form-login form-border no-margin" ng-submit="crearProyecto()">
                                        <input ng-model="nombreProyecto" class="login-input bounceIn animation-delay2" placeholder="Nombre del proyecto" />
                                        <input type="submit" value="Crear proyecto" class="login-btn bounceIn animation-delay5">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <section class="ng-hide" name="withproject" ng-show="currentProyecto()">

                    <div class="main-header clearfix">
                        <div class="page-title">
                            <h2 class="no-margin">{{ currentProyecto().nombre }}</h2>
                            <span>Creada por "{{ currentProyecto().creadoPor.nombre }}"</span>
                        </div>

                        <ul class="page-stats">
                            <li>
                                <div class="value">
                                    <span>Puntaje total</span>
                                    <h4 id="currentVisitor">{{allTarjetasPuntajes}}</h4>
                                </div>
                                <span id="visits" class="sparkline"><canvas width="79" height="35" style="display: inline-block; width: 79px; height: 35px; vertical-align: top;"></canvas></span>
                            </li>
                            <!--<li>
                                                        <div class="value">
                                                            <span>My balance</span>
                                                            <h4>$<strong id="currentBalance">32012</strong></h4>
                                                        </div>
                                                        <span id="balances" class="sparkline">
                                                            <canvas width="69" height="35" style="        display: inline-block;
                                    width: 69px;
                                    height: 35px;
                                    vertical-align: top;
                            "></canvas>
                                                        </span>
                                                    </li>-->
                        </ul>
                    </div>

                    <div class="padding-md">

                        <div class="row">
                            <div class="col-8">
                                <div class="alert alert-warning" ng-show="!currentTarjeta()">
                                    No hay ninguna tarjeta cargada aun
                                </div>

                                <div ng-show="!!currentTarjeta()" ng-class="{ 'disabled loading': loadingTarjeta }">
                                    <span class="spinner fadeInDown animation-delay1" ng-show="loadingTarjeta">
                                        <i class="fa fa-yin-yang fa-spin"></i>
                                    </span>

                                    <h3 class="mb-3">{{ currentTarjeta().nombre }}</h3>
                                    <hr />

                                    <div class="row numbers-list">
                                        <div class="col-3 {{ showingResults() ? 'disabled' : '' }}" ng-repeat="item in numbers" style="cursor: pointer">
                                            <div class="card mb-4 {{ checkCard(item) || checkCardResult(item) ? 'bg-info': '' }}" ng-click="puntuar(item)">
                                                <div class="card-body text-center">
                                                    <h4 class="no-margin">
                                                        {{item}}
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-success float-right ml-2" type="button" ng-show="checkOwner()" ng-click="analizar()">Analizar</button>
                                </div>

                                <button class="btn btn-danger float-right ml-2" type="button" ng-show="checkOwner()" ng-click="cerrarProyecto()">Cerrar proyecto</button>
                                <button class="btn btn-warning float-right ml-2" type="button" ng-click="checkDataTimer()" ng-show="!enableTimer">Check all</button>

                            </div>
                            <div class="col-4">

                                <div class="grey-container">

                                    <h3>
                                        <span class="badge badge-info ml-2 float-right" ng-hide="!showingResults()">most {{ getVotedAvg() }}</span>
                                        <span class="badge badge-info float-right">votes {{ getVotedCount() }} / {{activeUsers.length}}</span>
                                        Usuarios activos
                                    </h3>
                                    <hr class="border-dark" />
                                    <div class="row">
                                        <div class="col-6" ng-repeat="user in activeUsers()">

                                            <div class="row mb-2 visible-hover">

                                                <div class="col-9">
                                                    <i class="fa fa-user mr-1"></i>
                                                    {{ user.nombre }}
                                                    <i class="fa fa-exclamation-triangle ml-1"
                                                       title="Es un extremo {{ checkMaxMin(user).max ? 'alto' : 'bajo' }}"
                                                       data-toggle="tooltip"
                                                       ng-class="{ 'text-danger': checkMaxMin(user).max, 'text-warning': checkMaxMin(user).min }"
                                                       ng-show="checkResult(user) && checkMaxMin(user).any"></i>
                                                    <button class="reset-b visible-hover-item ml-2 bounceIn" ng-show="isAdmin()" data-toggle="tooltip" title="Quitar usuario" ng-click="deleteUser(user)">
                                                        <i class="far fa-times-circle text-danger mr-1"></i>
                                                    </button>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <i class="far fa-check-circle text-success" ng-hide="showingResults() || user.getScore(currentTarjeta()) == 0"></i>
                                                    <span class="custom-badge bg-info float-right" ng-show="checkResult(user)">{{ user.getScore(currentTarjeta()) }}</span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div ng-show="checkOwner()">
                                    <hr />
                                    <label>Crear tarjeta</label>
                                    <br />
                                    <label>Buscar por lista</label>

                                    <div class="dropdown">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Backlog" ng-model="nombreLista" autocomplete="off" data-toggle="dropdown" />
                                            <div class="auto-complete dropdown-menu h-100 overflow-auto">
                                                <div class="dropdown-item"
                                                     ng-repeat="opt in optionsVisible(optionsList, nombreLista)"
                                                     ng-click="selectOptionList(opt.name)">
                                                    {{ opt.name }}
                                                </div>
                                            </div>
                                            <span class="input-group-btn">
                                                <button class="btn" ng-click="nombreLista = ''">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <hr class="my-2" />
                                    <form ng-submit="createTarjeta()">
                                        <div class="dropdown">
                                            <div class="input-group">

                                                <input class="form-control" ng-model="nombreTarjeta" autocomplete="off" data-toggle="dropdown" />
                                                <div class="auto-complete dropdown-menu h-100 overflow-auto">

                                                    <div class="dropdown-item"
                                                         ng-repeat="opt in optionsVisible(options, nombreTarjeta)"
                                                         ng-click="selectOption(opt.name)">
                                                        {{ opt.name }}
                                                        <br />
                                                        <span class="mr-1 badge badge-{{colors[label.color] || 'default'}}" ng-repeat="label in opt.labels">{{label.name}}</span>
                                                    </div>

                                                </div>
                                                <div class="input-group-btn">
                                                    <button class="btn" type="submit" ng-click="">Crear</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                            <div class="col-6">
                                <hr />
                                <h3>Historicos</h3>
                                <hr />
                                <div class="alert alert-warning" ng-show="!oldTarjetas().any()">
                                    No hay historicos para mostrar
                                </div>

                                <section class="border-bottom" ng-repeat="tarjeta in oldTarjetas()">
                                    <div class="py-2" style="cursor: pointer" data-toggle="collapse" data-target="#tbl_{{tarjeta.id}}">

                                        <div class="row">
                                            <div class="col-10">
                                                {{ tarjeta.nombre }}
                                            </div>
                                            <div class="col-2 text-right">
                                                <span class="badge badge-info mr-2">{{ getPuntajeTarjeta(tarjeta) }}</span>
                                                <i class="fa fa-angle-down mt-1"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-sm table-bordered table-striped bg-white collapse mt-1" id="tbl_{{tarjeta.id}}">
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Puntos</th>
                                        </tr>
                                        <tr ng-repeat="puntos in tarjeta.puntuaciones">
                                            <td>{{ puntos.usuario }}</td>
                                            <td>{{ puntos.puntaje }}</td>
                                        </tr>
                                    </table>
                                </section>
                            </div>
                        </div>
                    </div>

                </section>
            </section>
        </div>
    </div>

    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.sparkline.min.js"></script>
    <script src="assets/js/angular-ui-notification.js"></script>

    <script src="assets/js/linq.min.js"></script>

    <script>
        // Sparkline
        function initSparkline(id, color, data) {

            $('#' + id).sparkline(data, {
                type: 'bar',
                barColor: color, //'#FC8675'
                height: '35px',
                weight: '96px'
            });
        }

        //$('#balances').sparkline([220, 160, 189, 156, 201, 220, 104, 242, 221, 111, 164, 242, 183, 165], {
        //    type: 'bar',
        //    barColor: '#65CEA7',
        //    height: '35px',
        //    weight: '96px'
        //});

        $(function () {
            setTimeout(() =>
                $('[data-toggle="tooltip"]').tooltip(), 1 * 1000);
        })

        $(window)
            .focus(function () {
                window.isActive = true;
            }).blur(function () {
                window.isActive = false;
            });

        setInterval(() => {
            if (console.isOpen && !document.hidden && !window.isActive)
                console.log('%c La pantalla perdio el foco. Toca CICK dentro del documento para que se actualice la info kapo ;) ', 'background:red; color: white; padding: 2px');
        }, 30 * 1000);
    </script>
</body>
</html>