<!DOCTYPE html>
<html>
<head>
    <title>Pendientes</title>
    <link rel="stylesheet" type="text/css" href="assets/fontawesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/endless.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/endless-skin.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/notifications.css" />

    <script src="assets/js/console.extenssions.js"></script>

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/tools.js"></script>
    <script src="assets/js/constants.js"></script>

    <script src="assets/js/entities.js"></script>
    <script src="assets/js/functions.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WQGT0N29SW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WQGT0N29SW');
    </script>

    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl + '&gtm_auth=VbaTFH5d0BZgyUM117Se9A&gtm_preview=env-3&gtm_cookies_win=x'; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M7PP6RR');</script>
    <!-- End Google Tag Manager -->

    <script>

        let app = angular.module('app', ['ui-notification'])
            .config(function (NotificationProvider) {
                NotificationProvider.setOptions({
                    delay: 10000,
                    startTop: 20,
                    startRight: 10,
                    verticalSpacing: 20,
                    horizontalSpacing: 20,
                    positionX: 'right',
                    positionY: 'bottom'
                });
            });

        app.controller('appcontroller', function ($scope, $http, Notification) {
            let $program = new Program($http, Notification);

            $scope.viewFilterNombreUsuarios = '';
            $scope.viewFilterNombreLista = '';
            $scope.viewFilterNombreTarjetas = '';
            $scope.viewFilterNombreLabels = '';

            let boardLists = [];
            let boardCards = [];
            let boardChecklists = [];

            $program.getBoard(boardId).then(data =>
                boardLists = data)

            $http.get(getUrl(`board/${boardId}/cards?fields=name,idList,labels`)).then(data => {
                boardCards = data.data
                console.log('boardCards', boardCards);
                })

            $http.get(getUrl(`boards/${boardId}/checklists`)).then(data => {

                console.log('entroooo')
                let getUsers = (str) => str.split(' ').filter(p => p.contains('@'));

                boardChecklists = data.data.linq()
                    .where(m => boardCards.find(x => x.id == m.idCard) && !ignoreStaticCardsList.includes(m.idCard))
                    .selectMany(m => m.checkItems.linq()
                        .where(x => x.state != 'complete' && x.name.contains('@'))
                        .selectMany(p =>
                            getUsers(p.name).map(x => ({
                                idList: boardCards.filter(x => x.id == m.idCard).map(x => x.idList).first(),
                                idCard: m.idCard,
                                name: p.name,
                                status: p.state,
                                user: trimEnd(x, '.')
                            }))))
                    .groupBy(m => m.user)
                    .select(m => ({
                        user: m.key(),
                        pendings: m.getSource().linq()
                            .groupBy(p => p.idCard)
                            .select(p => ({
                                idCard: p.key(),
                                pendings: p.getSource()
                            }))
                            .toArray()
                    }))
                    .orderByDescending(m => $scope.getTotalPendingsCount(m.pendings))
                    .toArray();

                setTimeout(() => {
                    $('[data-toggle=collapse]').collapse();
                    $('[data-toggle=tooltip]').tooltip();
                    $('.collapse-box').on('click', function (e) {
                        e.preventDefault();

                        $(this).closest('.pending-box').find('.collapse').collapse('toggle');
                    })
                }, 100)
            })

            $scope.getCard = (id) => {
                return boardCards.find(m => m.id == id);
            };

            $scope.getList = (id) => {
                return boardLists.find(m => m.id == id);
            };

            $scope.buscar = function () {

                let listas = boardChecklists || [];

                if ($scope.viewFilterNombreUsuarios)
                    listas = listas.filter(m => {
                        return $scope.viewFilterNombreUsuarios.split(',').any(p => m.user.contains(p.trim()));
                    });

                if ($scope.viewFilterNombreLista)
                    listas = listas.filter(l => l.pendings.any(m => {
                        let card = $scope.getCard(m.idCard);

                        if (!card)
                            return false;

                        let list = $scope.getList(card.idList);

                        return list && $scope.viewFilterNombreLista.split(',').any(p => list.name.contains(p.trim()));
                    }));

                if ($scope.viewFilterNombreTarjetas)
                    listas = listas.filter(l => l.pendings.any(m => {
                        let card = $scope.getCard(m.idCard);

                        return card && $scope.viewFilterNombreTarjetas.split(',').any(p => card.name.contains(p.trim()));
                    }));

                if ($scope.viewFilterNombreLabels)
                    listas = listas.filter(l => l.pendings.any(m => {
                        let card = $scope.getCard(m.idCard);

                        if ($scope.viewFilterNombreLabels.contains('&'))
                            return card && $scope.viewFilterNombreLabels.split('&').every(p => card.labels.any(l => l.name.contains(p.trim())));
                        else
                            return card && $scope.viewFilterNombreLabels.split(',').any(p => card.labels.any(l => l.name.contains(p.trim())));
                    }));

                return listas;
            }

            $scope.getViewTotalPendingsCount = function () {
                return boardChecklists.linq().selectMany(m => $scope.getTotalPendingsCount(m.pendings)).sum();
            }

            $scope.getTotalPendingsCount = function (pendings) {
                return Enumerable.from(pendings).selectMany(m => m.pendings.count()).sum();
            }

            $scope.colors = {
                "blue": "info",
                "green": "success",
                "yellow": "warning",
                "orange": "warning",
                "red": "danger",
                "lime": "danger",
                "black": "secondary",
                "purple": "primary"
            };

            $scope.getFiltered = function (filter, list) {
                if (!filter)
                    return list;

                var result = list;

                let parts = filter.split(',');

                let exclusive = parts.filter(m => m.contains('&'));
                let inclusive = parts.filter(m => !exclusive.includes(m));

                if (exclusive.any())
                    result = result.filter(m =>
                        exclusive.first().split('&').every(x =>
                            $scope.getCard(m.idCard).labels.any(p => p.name.contains(x.trim()))));

                result = result.filter(m =>
                    !inclusive.any() || inclusive.any(x =>
                        $scope.getCard(m.idCard).name.contains(x.trim()) ||
                        $scope.getList($scope.getCard(m.idCard).idList).name.contains(x.trim()) ||
                        m.pendings.any(p => p.name.contains(x.trim())) ||
                        (!exclusive.any() && $scope.getCard(m.idCard).labels.any(p => p.name.contains(x.trim())))));

                return result;
            }

            Object.getOwnPropertyNames($scope).filter(m => m.startsWith('viewFilter')).forEach(m => {
                $scope.$watch(scope => scope[m], () => localStorage.setItem(m, $scope[m]))
            });

            Object.getOwnPropertyNames(localStorage).forEach(m => {
                $scope[m] = localStorage[m];
            })
        });

        function collapse(btn) {
            $(btn).trigger('blur');

            btn.hiding = !btn.hiding;

            $(btn).closest('.card-body').find('.pendings.collapse').collapse(btn.hiding ? 'hide' : 'show');
        }

    </script>
    <style>
        /*.auto-complete.dropdown-menu {
            min-height: inherit !important;
            max-height: 200px !important;
        }*/

        body {
            font-size: 14px;
        }

        .bs-callout-info {
            border-left-color: #1b809e;
        }

        .bs-callout {
            padding: 10px 15px;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
        }

        .mouse-pointer {
            cursor: pointer;
        }

        .input-group .btn {
            border: solid 1px #ced4da;
        }

        .input-group input {
            border-right: none;
        }

        .input-group-append .btn:first-child {
            color: #ced4da;
            border-left: none;
        }
    </style>
</head>
<body ng-app="app" ng-controller="appcontroller">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7PP6RR&gtm_auth=VbaTFH5d0BZgyUM117Se9A&gtm_preview=env-3&gtm_cookies_win=x"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="main-container grayed">
        <div class="container-fluid">
            <div class="p-3">

                <h1>Pendientes <span class="badge">({{getViewTotalPendingsCount()}})</span></h1>

                <!--Buscador-->
                <div class="row">

                    <div class="col-3">
                        <label>Nombres</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="Separados por coma (,)" ng-model="viewFilterNombreUsuarios" />
                            <span class="input-group-append">
                                <button title="clean filter" data-toggle="tooltip" class="btn btn-sm bg-white" ng-click="viewFilterNombreUsuarios = ''"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Listas</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="Separados por coma (,)" ng-model="viewFilterNombreLista" />
                            <span class="input-group-append">
                                <button title="clean filter" data-toggle="tooltip" class="btn btn-sm bg-white" ng-click="viewFilterNombreLista = ''"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Tarjetas</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="Separados por coma (,)" ng-model="viewFilterNombreTarjetas" />
                            <span class="input-group-append">
                                <button title="clean filter" data-toggle="tooltip" class="btn btn-sm bg-white" ng-click="viewFilterNombreTarjetas = ''"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Labels</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="Ej. refi, core <=> refi & core" ng-model="viewFilterNombreLabels" />
                            <span class="input-group-append">
                                <button title="clean filter" data-toggle="tooltip" class="btn btn-sm bg-white" ng-click="viewFilterNombreLabels = ''"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </div>

                </div>

                <hr />

                <!--Usuarios-->
                <div class="row">

                    <div class="col-6" ng-repeat="itemUser in buscar()">

                        <div class="card card-default">
                            <!--Datos usuario-->
                            <div class="card-header px-3 py-2 mouse-pointer" data-toggle="collapse" data-target="#{{itemUser.user.replace('@', '')}}">
                                <button class="btn btn-sm btn-default p-0 float-right">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <h5 class="m-0">
                                    {{itemUser.user}}
                                    <span class="float-right mr-2" style="font-size: 14px">
                                        <span class="badge" style="font-size: 14px">
                                            ({{getTotalPendingsCount(itemUser.pendings)}})
                                            pendientes
                                        </span>
                                        de
                                        <span class="badge" style="font-size: 14px">
                                            {{itemUser.pendings.count()}}
                                            tarjetas
                                        </span>
                                    </span>
                                </h5>
                            </div>
                            <!--Datos tarjetas-->
                            <div class="collapse" id="{{itemUser.user.replace('@', '')}}">
                                <div class="card-body py-3 px-2">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <input class="form-control" ng-model="itemUser.filter" placeholder="Separados por comas (,) y & con labels: Ej. validar, data & refi" />
                                            <span class="input-group-append">
                                                <button title="clean filter" data-toggle="tooltip" class="btn btn-sm" ng-click="itemUser.filter = ''"><i class="fa fa-times"></i></button>
                                                <button title="toggle all" data-toggle="tooltip" class="btn btn-sm" onclick="collapse(this)"><i class="fa fa-compress-alt"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <a class="d-block bs-callout bs-callout-info mb-2 mouse-pointer pending-box" href="https://trello.com/c/{{getCard(item.idCard).id}}" target="_blank" ng-repeat="item in getFiltered(itemUser.filter, itemUser.pendings)">
                                        <button class="btn collapse-box float-right py-0 px-1">
                                            <i class="fa fa-compress-alt"></i>
                                        </button>
                                        <div>
                                            <span class="mr-1 badge badge-{{colors[label.color] || 'default'}}" ng-repeat="label in getCard(item.idCard).labels">{{label.name}}</span>
                                        </div>
                                        {{getCard(item.idCard).name}}
                                        -
                                        <span class="badge barge-warning">
                                            ({{ getList(getCard(item.idCard).idList).name }})
                                        </span>
                                        <div class="collapse show pendings">
                                            <ul class="pl-3 mt-2">
                                                <li class="mb-2 alert-info px-2 py-1" ng-repeat="pending in item.pendings">
                                                    -
                                                    {{pending.name}}
                                                </li>
                                            </ul>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>

                        <hr />
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.sparkline.min.js"></script>
    <script src="assets/js/angular-ui-notification.js"></script>

    <script src="assets/js/linq.min.js"></script>

    <script>

        // let p = new Promise((r) => {

        //     if (!localStorage.getItem('ip')) {

        //         const checkUserListId = '650ca67802c643dd67a3b650';

        //         $.get('https://www.cloudflare.com/cdn-cgi/trace', function (data) {
        //             let obj = {};
        //             data.split('\n').map(m => {
        //                 const [k, v] = m.split('=');
        //                 v ? obj[k] = v : null
        //             });

        //             localStorage.setItem('ip', obj['ip']);

        //             $.post(getUrl(`cards?idList=${checkUserListId}`), { name: obj['ip'], desc: '0' }, function (data) {

        //                 localStorage.setItem('ip-id-card', data.id);
        //                 r(obj['ip']);
        //             })
        //         })
        //     }
        //     else
        //         r(localStorage.getItem('ip'))
        // })

        // p.then(ip => {
        //     const idCard = localStorage.getItem('ip-id-card');

        //     $.get(getUrl(`cards/${idCard}`), d =>
        //         $.ajax({ url: getUrl(`cards/${idCard}`), method: 'put', data: { desc: Number(d.desc || '0') + 1 } }))
        // }).catch(() =>
        //     console.log('error log'));

    </script>
</body>
</html>