body {
    font-family: helvetica;
}

.form-control {
    font-size: 14px;
}

.main-container {
    position: relative;
    /*min-height: 800px;*/
    padding-top: 45px;
}

.dropdown-item {
    word-break: break-word !important;
    white-space: normal;
}

.dropdown-menu {
    height: auto !important;
    min-height: 100px;
    max-height: 400px !important;
    width: 100%;
    font-size: 12px;
}

.auto-complete.dropdown-menu {
    min-height: inherit;
    max-height: 200px !important;
}

.custom-badge {
    /*position: absolute;*/
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    font-size: 11px;
    color: #fff;
    /*top: 0;
            right: 0;*/
    /*background: #fc8675;
            border: 1px solid #fc8675;*/
    text-shadow: none;
    font-weight: 700;
    line-height: 16px;
    width: 18px;
    height: 18px;
    text-align: center;
}

.custom-badge.w-icon {
    font-size: 24px;
    margin-left: -6px;
    margin-top: 6px;
}

#top-nav .nav-notification .dropdown-menu {
    right: 0 !important;
    left: auto !important;
    top: 95% !important;
    transform: none !important;
}

#top-nav .dropdown-toggle::after {
    content: none;
}

.reset-b {
    border: none;
    background: no-repeat;
    padding: 0;
}

.visible-hover .visible-hover-item {
    display: none;
}

.visible-hover:hover .visible-hover-item {
    display: inline-block;
}

.numbers-list .card-body {
    border: dotted 2px #f0f0f0;
}

.numbers-list .w-icon .card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.numbers-list .w-icon h4 {
    font-size: 57px;
}

.disabled {
    pointer-events: none !important;
    cursor: default !important;
    opacity: .65;
    color: #b0b0b0;
}

.loading {
    position: relative;
}

    .loading .spinner {
        font-size: 60px;
        position: absolute;
        color: #000;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        z-index: 1;
    }

    .loading .fa-spin {
        opacity: .5;
    }

    section[name] {
        position: relative;
    }
