.login-wrapper .login-widget {
    margin-top: 40px;
}

.field-validation-error {
    display: block;
    text-align: right;
    overflow: hidden;
}

    .field-validation-error span, .validation-summary-errors li {
        float: right;
        clear: both;
        margin: 2px 0px;
        color: #fff;
        font-weight: bold;
        background: #777;
        padding: 2px 7px;
        border-radius: 5px;
        font-size: 11px;
    }

.validation-summary-errors li {
    margin: 0;
}

.login-panel a {
    color: #77c9d6;
}

.login-panel .login-header {
    background: #77c9d6;
}

    .login-panel .login-header h1 {
        margin: 0;
        font-size: 32px;
        text-align: center;
        padding: 27px 0 25px;
    }

        .login-panel .login-header h1 a {
            color: #fff;
        }

        .login-panel .login-header h1 .aside {
            display: block;
            font-size: 12px;
        }

.login-panel {
    background: #fff;
}

    .login-panel .login-body {
        padding: 25px 35px 15px;
    }

        .login-panel .login-body hr {
            margin-left: -35px;
            margin-right: -35px;
        }

input.login-input,
select.login-input,
textarea.login-input {
    width: 100%;
    padding: 7px;
    border: none;
    margin: 5px 0;
    outline: none;
    background-color: #f5f5f5;
    box-shadow: none !important;
}

.login-btn {
    width: 100%;
    border: none;
    margin: 5px 0;
    outline: none;
    padding: 10px;
    color: #b3b3b3;
    display: block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    background: no-repeat;
    border: solid 1px #d6d6d6;
    box-shadow: none !important;
}

.login-input-select {
    border: none;
    outline: none;
    background-color: #f5f5f5;
    box-shadow: none !important;
    padding-left: 40px !important;
}

.isSafari .login-input-select {
    text-indent: 30px;
}

a.login-btn, input.login-btn {
    color: #b3b3b3;
}

.with-icon,
.login-input.with-icon {
    padding-left: 32px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.login-input.letter-icon {
    background-image: url(/Content/images/letter-icon.png);
}

.login-input.user-icon {
    background-image: url(/Content/images/user-icon.png);
}

.building-icon {
    background-image: url(/Content/images/building-icon.png);
}

.login-input.lock-icon {
    background-position-x: 13px;
    background-image: url(/Content/images/lock-icon.png);
}

[type="submit"].login-btn {
    color: #fff;
    border: none;
    font-weight: bold;
    background: #77c9d6;
}

.forgot-password {
    margin: 12px 0;
    text-align: center;
}

    .forgot-password a {
        text-decoration: underline;
    }

.login-footer {
    color: #fff;
    padding: 10px;
    background: #c0c0c0;
}

    .login-footer a {
        color: #fff;
    }

        .login-footer a:last-child {
            margin-right: 5px;
        }

        .login-footer a .icon {
            width: 18px;
            height: 18px;
            margin-right: 2px;
            background: no-repeat;
            display: inline-block;
            vertical-align: middle;
        }

    .login-footer .info-icon {
        background-image: url(/Content/images/info-icon.png);
    }

    .login-footer .letter-white-icon {
        background-image: url(/Content/images/letter-white-icon.png);
    }

.text-description {
    margin-bottom: 20px;
}

    .text-description h2 {
        margin: 0;
        font-size: 21px;
        margin-bottom: 15px;
    }

#footer {
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    font-size: 11px;
    padding: 5px 15px;
    background: #f9f9f9;
}